
.logoTitle {
  width:14.28%;
  height:62px;
  position:relative;
  left: 2%;
  margin-top:2%;
}
.logoHeader {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .logoTitle {
    width:38.6%;
    height:43px;
  }
}


