.backFooter {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    margin-top:50px;
    width:100%;
    height:212px;
    background: black;
}
.logoFooter {
    width:8%;
    height:40px;
    position:relative;
    top:15px;
}
.imgLogoFooter {
    width:100%;
    object-fit: cover;
}
.copyright {
    color: white;
    font-family:'Montserrat';
    font-weight:500;
    font-size:24px;
    line-height: 34px;
    text-align: center;
}
