
  .banner {
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left:2%;
    margin-right:2%;
    margin-top: 63px;
    width:96%;
  }
  .imgBanner {
    width:100%;
    border-radius: 25px;
    height:223px;
    object-fit:cover;
  }
  
  .titleBanner {
    position:absolute;
    color:white;
    font-family: "Montserrat";
    font-weight:500;
    font-size:48px;
    text-align: center;
    line-height: 68.45px;
  }


  @media screen and (max-width:768px) {
    .banner {
      justify-content: flex-start;
    }

    .imgBanner {
      border-radius: 10px;
      height:111px;
    }
    .titleBanner{
      font-size: 24px;
      line-height:24px;
      width:50%;
      left:4%;
    }
  }

  

